.coverage
*.pyc
build/
dist/
*.egg-info/
.*.swp
scratch/
testdata/scratch/*
testdata/demo-workdir/Ador/Ador.gff3
testdata/demo-workdir/Aech/Aech.gff3
testdata/demo-workdir/Dmel/Dmel.gdna.fa
testdata/demo-workdir/Dmel/Dmel.gff3
testdata/demo-workdir/Dmel/Dmel.all.prot.fa
testdata/demo-workdir/Pbar/Pbar.gff3
testdata/demo-workdir/Pcan/Pcan.gdna.fa
testdata/demo-workdir/Pcan/Pcan.gff3
testdata/demo-workdir/Pcan/Pcan.all.prot.fa
testdata/demo-workdir/Pdom/Pdom.all.prot.fa
testdata/demo-workdir/Pdom/Pdom.gdna.fa
testdata/demo-workdir/Pdom/Pdom.gff3
