sudo: false
language: python
python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
cache:
    directories:
        - $HOME/local/tgz
before_install:
    - mkdir -p $HOME/.python-eggs
    - chmod og-w $HOME/.python-eggs
    - bash scripts/travis-prereqs.sh
    - make depend
before_script:
    - export PATH=$HOME/local/bin:$PATH
    - export PATH=$(pwd)/scripts:$PATH
    - export PYTHONPATH=$(pwd)
    - export LD_LIBRARY_PATH=$HOME/local/lib
    - make check-dev
    - set -eo pipefail
script: make test testmore
